<div  class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                #Txtinput
                (keyup)="Busqueda(Txtinput.value)"
                class="form-control"
                placeholder="Buscar Usuario...">

            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <div class="alert alert-info text-center" role="alert">
                   <h4 class="alert-heading"></h4>
                   <i class="fa fa-spin fa-refresh fa-2x"></i>
                   <p class="mb-0"> Por favor espere</p>
               </div>

            </div>
        </div>
    </div>
</div>


<div *ngIf="!cargando"  class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <h6 class="card-subtitle">Usuarios registrados {{totalUsuarios}} - {{desde}} </h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th  style="width: 30%;">Role</th>
                                <th>Auth</th>


                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of usuarios">
                                <td> <img [src]="item.imagenUrl" style="width:30%"
                                    (click)="abrirModal(item)"> </td>
                                <td>{{item.email}}</td>
                                <td>{{item.nombre}}</td>
                                <td>
                                    <select class="form-control" [(ngModel)]="item.role"
                                    (change)="CambiarRole(item)">
                                        <option value="ADMIN_ROLE">Admin</option>
                                        <option value="USER_ROLE">Role</option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="item.google" class="label label-danger"> Google</span>
                                    <span  *ngIf="!item.google"  class="label label-info"> Email</span>

                                </td>

                            
                                <td class="text-nowrap">
                                    <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="BorrarUser(item)" data-toggle="tooltip" data-original-title="Errase"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="btn ntn-secondary" (click)="UsuarioSiguiente(-5)"> Anteriores</div>
                    <div class="btn ntn-secondary" (click)="UsuarioSiguiente(5)"> Siguientes</div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- column -->